  <!doctype html>
<html lang="eng">
  <head>
    <%- include('../partials/header') -%>

  </head>
<body>

<!-- Navigation -->
<%- include('../partials/nav' , {active: "about"}); -%>

    <!--Banner section -->
<section class="banner_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>Our Mission</h1>
                <h2> Is to transform communities through<br> helping children, youth and their families who need <br>basic support to ensure that they will have better future ahead</h2>                
            </div>
        </div>
    </div>
   
</section>
   
    
  
    
<!--Welcome Section-->    
<section class="intro">
    <div class="container-fluid">
      <div class="row welco text-center">
        <div class="col-12">
            <p>There are millions of poor people in the world. What is our responsibility towards them?
                 Should we help them? How can we help them? This is what the pupils in A17 have been discussing in their English class. Read their opinions!
                I think we have a lot of opportunities to help poor people. I can work voluntarily with different organizations. I can help them with money or give them extra things like clothes and shoes. I can help them with education. We can help them to stop wars.
                 We can give them small loans to open their own businesses.</p>
        </div>
        
      </div>
    </div>
  </section>  
    <!--Two Coloumn Section 1-->
  <section class="section-main"> 
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 padding_main">
            <div class="card">
              <div class="card-body text-center">
                  <h2>What we do</h2>
                <p class="card-text">
                  Alone, we are powerless. But, together, we can make things happen. If we join forces with likeminded individuals, form an alliance & stick together, we have a better chance of being heard. Together, we can promote change, fight for our beliefs & make something happen.

                  “It takes a village to raise a child.” Right?

                  Your cause, your purpose, your reason….that's your child. You want to see that idea grow into something all it's own. To be seen, heard & make a difference. Therefore, you need to recruit others with the same ideas, who love your “child” as much as you do. Those are the people who will help you nurture & support your goal, while you do the same for them.
                  The statement points to a collective group evoking change. You need an army to wage war on injustice. You need to bring people together, for a common goal, in order to get anywhere close to what you wish to accomplish. You, alone, may not be able to draw the attention needed. You may need many others to share in your efforts to be noticed.
                </p>
              </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <img class="section-main-img padding_main" src="img/about1.jpg" class="img-fluid rounded">
        </div>
      </div>
    </div>

  </section>
  
    
  <section class="section-main"> 
    <div class="container-fluid">
      <div class="row"> 
        <div class="col-sm-12 col-md-6 col-lg-6">
          <img class="section-main-img padding_main" src="img/about2.jpg" class="img-fluid rounded">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 padding_main">
          <div class="card">
            <div class="card-body text-center ">
                <h2>How we do it</h2>
              <p class="card-text">
                If Reformation and Enlightenment are false steps, there is a more instructive analogy. Ironically, it can be found in the religious body that the Reformation and the Enlightenment both considered freedom’s greatest enemy: the Catholic Church. The Catholic Church came around to religious freedom quite late in history, with the Second Vatican Council’s promulgation of Dignitatis Humanae, its Declaration on Religious Liberty. 
                The example of the Church shows how robust religious freedom can emerge from within a tradition that previously had regarded it with suspicion.
                If Reformation and Enlightenment are false steps, there is a more instructive analogy. Ironically, it can be found in the religious body that the Reformation and the Enlightenment both considered freedom’s greatest enemy: the Catholic Church. The Catholic Church came around to religious freedom quite late in history, with the Second  
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>      
  <!--Fixed  Background --> 
  <!--
  <figure>
    <div class="fxied-wrap">
      <div id="fixed">
      </div>
    </div>
  </figure>
-->

 
<!-- Footer -->
<%- include('../partials/footer') -%>

<!--  JavaScript -->
<%- include('../partials/script') -%>
  </body>    

</html>